@model Presentacion.Models.ReservaModel

@{
    ViewData["Title"] = "EditaReserva";
}

<h1>Editar Reserva</h1>

<h4>Ingrese los datos:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Modificar" asp-controller="Reserva" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" readonly="readonly" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaEntrada" class="control-label"></label>
                <input asp-for="fechaEntrada" class="form-control" />
                <span asp-validation-for="fechaEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaSalida" class="control-label"></label>
                <input asp-for="fechaSalida" class="form-control" />
                <span asp-validation-for="fechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantAdultos" class="control-label"></label>
                <input asp-for="cantAdultos" class="form-control" />
                <span asp-validation-for="cantAdultos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantNinos" class="control-label"></label>
                <input asp-for="cantNinos" class="form-control" />
                <span asp-validation-for="cantNinos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantHabitaciones" class="control-label"></label>
                <input asp-for="cantHabitaciones" class="form-control" />
                <span asp-validation-for="cantHabitaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
