@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <br />
    <h1 class="display-4">PROYECTO I PROGRAMACIÓN AVANZADA</h1>
    <br />
    <h2 class="display-4">INTEGRANTES:</h2>
    <br />
    <h4>ERICKSON QUESADA GONZÁLEZ</h4>
    <h4>DAFNI GONZÁLEZ CARRANZA</h4>
    <h4>STEVEN SEQUEIRA QUIRÓS</h4>
    <br />
    <h4>2022</h4>
    <br />
</div>
