<!DOCTYPE html>
<html lang="es">
<head>
    <h1 class="text-center mt-3">HOLA @Context.User.Identity.Name, BIENVENIDO AL SISTEMA DE GESTIONAMIENTO HOTELERO</h1>
    <h3 class="text-center"><a asp-controller="Manage" asp-action="LogOut">CERRAR SESIÓN</a></h3>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">GESTIÓN CLIENTES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Habitacion" asp-action="Index">GESTIÓN HABITACIONES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reserva" asp-action="Index">GESTIÓN RESERVAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reserva" asp-action="Consultar">GESTIÓN CONSULTAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reserva" asp-action="Fechas">GESTIÓN FECHAS</a>
                        </li>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>